.article-image {
    max-width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.header-article {
    font-size: xx-large;
}
.article-light {
    opacity: 0.5;
}
.article-desc {
    font-size: 20px;
}
.article-content {
    font-size: 15px;
}
.background-article {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    overflow: hidden;
    min-height: 100vh; 
}
.transparent-div {
    background: rgba(6, 6, 7, 0.83);
    display: inline-block;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
    color: white;
}
/*phones*/
@media screen and (max-width: 500px){
    .background-article {
        background-color: lightsteelblue;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .transparent-div {
        padding-left: 10px;
        padding-right: 10px;
    }
}
/*tablets*/
@media screen and (min-width: 501px){
    .background-article {
        background-image: url("../pictures/picture.jpg");
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .transparent-div {
        padding-left: 7px;
        padding-right: 7px;
    }
}
/*desktops*/
@media screen and (min-width: 850px){
    .background-article {
        background-image: url("../pictures/picture.jpg");
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .transparent-div {
        padding-left: 50px;
        padding-right: 50px;
    }
    .header-article {
        text-align: center;
    }
}