.article-image {
    max-width: 800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.header-article {
    font-size: xx-large;
}
.article-light {
    opacity: 0.5;
}
.article-desc {
    font-size: 20px;
}
.article-content {
    font-size: 15px;
}
.background-article {
    margin-top: 20px !important;
}