.loaded-api {
    height: 1000px; 
    display: flex;
}
.hide-app {
    display: none;
}
.nothing {
    margin-bottom: 0px;
}
.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    min-height: 100vh;
}
.topheadlines-card {
    padding: 20px;
    padding-left: 79.5px;
    padding-right: 81.5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-top {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 5px;
}
.transparent-div {
    background: rgba(6, 6, 7, 0.58);
    display: inline-block;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
}
.ui.segment:last-child {
    margin-bottom: 15px;
}
.ui.form .inline.fields {
    display: -webkit-inline-box;
}
/*phones*/
@media screen and (max-width: 500px){
    .background {
        background-color: lightsteelblue;
    }
    .transparent-div {
        padding-left: 10px;
        padding-right: 10px;
    }
    .ui.basic.black.button, .ui.basic.black.buttons .button {
        margin-left: 40px;
    }
}
/*tablets*/
@media screen and (min-width: 501px){
    .background {
        background-image: url("../pictures/picture.jpg");
    }
    .transparent-div {
        padding-left: 7px;
        padding-right: 7px;
    }
    .ui.basic.black.button, .ui.basic.black.buttons .button {
        margin-left: 40px;
    }
}
/*desktops*/
@media screen and (min-width: 850px){
    .background {
        background-image: url("../pictures/picture.jpg");
    }
    .transparent-div {
        padding-left: 50px;
        padding-right: 50px;
    }
    .ui.basic.black.button, .ui.basic.black.buttons .button {
        margin-left: 160px;
    }
}